@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.banner .clouds {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner .clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(8s * var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

section {
    position: relative;
    padding: 75px 70px;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section p{
    text-align: justify;
}